* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.popup {
    width: 350px;
    padding: 10px;
    border: none;
    display: flex;
    flex-direction: column;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.header-text {
    text-align: center;
    color: #01b9db;
    margin: 5px;
}

.seperator {
    width: 100%;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 5px 0 5px 0;
}

p {
    text-align: center;
    margin: 10px;
    color: #01b9db;
}

button {
    width: 100%;
    height: 50px;
    background-color: #01b9db;
    border: none;
    margin-top: 10px;
    color: white;
    cursor: pointer;
    opacity: 1
}

button:hover {
    opacity: 0.75
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 25px;
  cursor: pointer;
  background: #01b9db;
  border-radius: 1.3px;
  margin: 10px;
  opacity: 1
}

input[type=range]:focus::-webkit-slider-runnable-track {
    opacity: 0.75
}


.toggle-container {
  width: 50px;
  height: 25px;
  background-color: #01BDDF;
  border: 1px solid #01BDDF;
  border-radius: 2px;
  padding: 2px;
  cursor: pointer;
  transition: all 500ms;
}

.color {
   /*background-color: #01BDDF;*/
}

.toggle {
  position: relative;
  width: 50%;
  height: 100%;
  background-color: white;
  cursor: pointer;
  border-radius: 2px 15px 15px 2px;
  transition: all 500ms, opacity 50ms;
  left: 0%;
  opacity: 1;
  pointer-events: none;
}

.toggle:hover {
  opacity: 0.85;
}

.toggle-text {
  margin: 0;
}

.move-right {
  left: Calc(100% - 50%);
  border-radius: 15px 2px 2px 15px;
  /*background-color: white;*/
}

.wrong-margin {
  margin: 0;
}

.on {
  width: 35px;
}

.off {
  width: 35px;
}